<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- launch topic publisher node -->
    <node pkg="ros-multithreading" type="topic_publisher_node" name="topic_publisher_node" output="screen"/>

    <!-- launch single callback multi spinners block node -->
    <node pkg="ros-multithreading" type="single_cb_multi_sp_block" name="single_callback_multi_spinners_block_node" output="screen"/>

</launch>